<p id="notice"><%= notice %></p>

<p>
  <b>Assistance:</b>
  <%= @assistance_department.assistance_id %>
</p>

<p>
  <b>Department:</b>
  <%= @assistance_department.department_id %>
</p>


<%= link_to 'Edit', edit_assistance_department_path(@assistance_department) %> |
<%= link_to 'Back', assistance_departments_path %>
