<p id="notice"><%= notice %></p>

<p>
  <b>Nombre de usuario:</b>
  <%= @administrative_user.username %>
</p>
<p>
  <b>Departamento al que pertenece:</b>
  <%= @administrative_user.department.name %>
</p>

<%= link_to 'Editar', edit_administrative_user_path(@administrative_user) %> |
<%= link_to 'Volver', administrative_users_path %>
